@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: #626cd7;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

/* Login form styling */
.login-form{
    width: 100%;
    max-width: 435px;
    background: #fff;
    border-radius: 7px;
    padding: 40px 30px;
    box-shadow: 0 10px 20px rgb(0,0,0,0.15);
}
.login-form h3{
    font-size: 20px;
    text-align: center;
}

/* Google Apple button */
.login-form .Login-option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login-form .Login-option .option a{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    background: #f8f8fb;
    border: 1px solid #dadaf2;
    border-radius: 5px;
    margin: 34px 0 24px 0;
    padding: 10px 40px;
    text-decoration: none;
    color: #171645;
    font-weight: 500;
    transition: 0.2s ease;
}
.login-form .Login-option .option a:hover{
    background: #ededf5;
    border-color: #626cd7;
}
.login-form .Login-option .option a img{
    max-width: 25px;
}
.login-form p {
    text-align: center;
    font-weight: 500;
}
.login-form .separator {
    position: relative;
    margin-bottom: 24px;
}
.login-form .separator span {
    background: #fff;
    z-index: 1;
    padding: 0 10px;
    position: relative;
}
.login-form .separator::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: #c2c2cc;
    display: block;
}
form .input_box label {
    display: block;
    font-weight: 500;
    margin: 8px;
}

/* input filed */
form .input_box input {
    width: 100%;
    height: 57px;
    border: 1px solid #dadaf2;
    border-radius: 6px;
    outline: none;
    background: #f8f8fb;
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition:  0.2s ease;
}
form .input_box input:focus {
    border-color: #626cd7;
}
form .input_box .password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
form .input_box {
    position: relative;
}

a{
    text-decoration: none;
    color: #626cd7;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
}

/* Login button */

form button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #626cd7;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 27px;
    transition:  0.3s ease;
}
form button:hover {
    background: #4954d0;
}